    
    <div id="endless-scroll">
      <%= 
      #image_tag 'ajax-loader.gif'
      %>
       <%= will_paginate @posts %>
       <% @posts.each do |userpost| %>
         <% @user =  User.find(userpost.user_id) %>
       <div class="row">
         <div class="col-lg-2">
            <div class="thumbnail">
              <%= image_tag @user.avatar.url, :class =>"img-responsive user-photo" %>
             
            </div><!-- /thumbnail -->
         </div><!-- /col-sm-1 -->
            
         <div class="col-lg-10">
            <div class="panel panel-default">
              <div class="panel-heading" >
                  <strong><%=  link_to @user.name, controller: "users", action: "show", id: userpost.user_id%>
                      <% if @user == current_user %>
                          [project owner]
                      <% end %>
                   </strong> 
                  commented <span class="text-muted"><%= time_ago_in_words(userpost.created_at) %> ago</span>
              </div>
              <div class="panel-body">
                <%= userpost.content %>
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div>
      <% end %>
    </div>