<h1>User profile of <%= @user.name %></h1>
<% title @user.name %>
<%= 
#image_tag(@user.avatar.url) 
%>
Bio: <%= @user.about %>
<br>From: <%= @institute.name %><br>
<% if current_user == @user %>
    <%=link_to "Edit my profile", edit_user_registration_path %>
<% end %>
<br>
<h4>Ideas working on</h4>
<% if @ideas.count < 1 %>
  Not added any ideas yet.
<% end %>
<% @ideas.each_slice(3) do |ideas| %>
  <div class="row">
    <% ideas.each do |idea| %>
      <div class="col-md-4">
         <h3><%= link_to idea.title, controller: "ideas", action: "show", id: idea.id %></h3> 
         <%= raw(youtube_embed( idea.video_url,350,200)) %> 
      </div>
    <% end %>
  </div>
<% end %>

<h4>Ideas commented on</h4>
<% if @ideas_comment.count < 1 %>
  Not commented on anything yet.
<% end %>
<% @ideas_comment.each_slice(3) do |ideas| %>
  <div class="row">
    <% ideas.each do |key,idea| %>
      <div class="col-md-4">
          <h3><%= link_to idea.title, controller: "ideas", action: "show", id: idea.id %></h3> 
         <%= raw(youtube_embed( idea.video_url,350,200)) %> 
        
      </div>
    <% end %>
  </div>
<% end %>
