<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>: Invento: Ideas for India</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="rural-idea-background" style="height:100%">
    <%= render 'shared/navbar' %>
    <% unless notice.blank? %>
      <div class="alert alert-danger alert-dismissable alert-fixed">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <% unless alert.blank? %>
      <div class="alert alert-danger alert-dismissable alert-fixed">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <div class="container">
       <div class="row">
        <div class="col-lg-12 col-lg-offset-0 well" style="max-height:80vh; overflow-y:scroll;">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
